<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
<link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
</head>
<body style="background-color:#F2F3F5">
<div class="navbar navbar-fixed-top navbar-default " style="background-color:#0B0B61">
  	<div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/">VehiclePartner.lk</a><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </a>
      </div>
        <div class="navbar-collapse">
           
			<ul class="nav navbar-nav navbar-right">
        
        <li><a href="/"><span class="glyphicon glyphicon-log-out" style="color: #FFFFFF"></span> LogOut</a></li>
      </ul>
        
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix" >
                <div class="well" style="background-color:#EAEBEF;">
                    <ul class="nav ">
                        <h2 style="text-align:center"> Select what to sell</h2>
						
                        
                        <button type="button" class="btn btn-info btn-lg btn-block"><a  href="/users/vehicle_ad_form">Sell a Vehicle</a></button>
<button type="button" class="btn btn-info btn-lg btn-block"><a  href="/users/spare_part_ad_form">Sell a Spare Part</a></button>
<button type="button" class="btn btn-primary btn-lg btn-block"><a  href="/users/rent_ad_form">Rent a Vehicle</a></button>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
        <div class="col-md-6">
            
                
<div class="jumbotron">
                 <p>Posted ad of Yours</p>

                 

                
            </div>

            

           
        </div>

        {{!-- <div class="row" >
                    <div class="col-sm-6 col-md-4">
                        <img src="/uploads/{{this.image1Path}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4> {{ this.VehicleBrand }} {{ this.VehicleModel }} {{ this.year }}</h4>
                        <small><cite title="San Francisco, USA">Location: {{ this.district }}, {{ this.town}} <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        {{!-- <small>{{ this.added_date }}</small> --}}
                        <small>{{ this.mileage }} km</small>
                        <small>Rs {{ this.price }}</small>
                        {{!-- <button type="button" class="btn btn-secondary">More..</button> --}}
                        <a  target="_blank" class="btn btn-primary" href="/vehicle_ads/clicked/{{this._id}}" role="button">More..</a>
                    </div>
                </div> --}}
        <!--/span-->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="well" style="background-color:#EAEBEF;">
                    <ul class="nav ">
                        <img src="/images/1.jpg" alt="" class="img-responsive" />
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    
<!--/.fluid-container-->
</body>
</html>